@import "./Navbar.css";
@import "./SideBar.css";
@import "./Homepage.css";
@import "./GamePage.css";
@import "./GameSearch.css";
@import "./ProfilePage.css";
@import "./Signup.css";
@import "./LoginPage.css";
@import "./Topratedgames.css";
@import "./ProfilePage.css";
@import "./Spinner.css";

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Roboto Mono", serif;
}

h1 {
  margin: 20px 0;
  font-size: 36px;
}

.app-container {
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 170px;
  margin-top: 70px;
  min-width: 1200px;
}
