#featured-games {
  width: 90%;
  max-width: 900px;
  margin-left: 40%; 
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.game-item {
  transition: transform 0.5s ease-in-out, transform 0.5s ease;
  text-align: center;
}

.game-item img {
  width: 100%; 
  max-height: 500px; 
  object-fit: cover; 
  border-radius: 10px;
}


.slick-center .game-item {
  transform: scale(1.2); 
  opacity: 1;
}



.slick-prev,
.slick-next {
  z-index: 10;
  width: 50px;
  height: 50px;
  z-index: 1;
}


.slick-center img {
  transform: scale(1.1); 
}

.slick-slide:not(.slick-center) img {
  transform: scale(0.8); 
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li button:before {
  color: #000; 
}

.slick-prev:before, .slick-next:before {
  color: #000; 
}
