.game-search-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35px;
  margin-left: 25%;
  max-width: 1200px;
  background-color: #0e1533;
}

.game-list-search {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  padding: 20px;
  margin-left: 0%;
  max-width: 1200px;
}
