.style-navbar {
  display: flex;
  flex-direction: column;
  background-color: #9ca0a5;
  padding-top: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 35px;
}

.navbar-lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #9ca0a5;
  height: 35px;
  padding: 5px;
}

.search-input {
  padding: 5px;
  width: 400px;
}


.navbar-title {
  cursor: pointer;
  pointer-events: auto;
  z-index: 10; /* Ensure it's above other elements */
}

.profile-btn, .navbar-user-info button {
  background-color: #0b4786; /* Deep blue */
  color: white;
  border: none;
  padding: 6px 12px;
  margin-left: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-btn:hover, .navbar-user-info button:hover {
  background-color: #083366; /* Darker blue on hover */
}

.search-button-style {
  background-color: #0b4786; /* Matching deep blue */
  color: white;
  border: none;
  padding: 6px 12px;
  margin-left: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-button-style:hover {
  background-color: #083366; /* Darker blue on hover */
  transform: scale(1.05); /* Slightly enlarges the button */
}
