.style-navbar {
  display: flex;
  flex-direction: column;
  background-color: rgb(156, 160, 165);
  padding-top: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 35px;
}

.navbar-lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(11, 71, 134);
  height: 35px;
  padding: 5px;
}

.search-input {
  padding: 5px;
  width: 400px;
}

.navbar-form {
}

.navbar-title {
  cursor: pointer;
  pointer-events: auto;
  z-index: 10; /* Ensure it's above other elements */
}
