.style-navbar {
  display: flex;
  flex-direction: column;
  background-color: #03dac6;
  padding-top: 5px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  z-index: 100;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.navbar-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 40px;
}

.navbar-lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #249085;
  height: 35px;
  padding-bottom: 5px;
  padding-top: 12px;
  border-radius: 20px;
}

.search-input {
  padding: 5px;
  width: 400px;
  border-radius: 10px;
  background-color: rgba(240, 240, 240, 0.843);
}

.navbar-title {
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  width: 160px;
  height: 140px;
  margin-top: 38px;
}

.profile-btn,
.navbar-user-info button {
  background-color: #134881;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-left: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-btn:hover,
.navbar-user-info button:hover {
  background-color: #083366;
}

.search-button-style {
  background-color: #0b4786;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-left: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-button-style:hover {
  background-color: #083366;
  transform: scale(1.05);
}
