.sidebar {
  width: 150px;
  padding: 20px;
  background-color: #0ba34dc4;
  color: white;
  position: fixed;
  height: 100vh;
  margin-top: 85px;
}
.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar label {
  display: block;
  margin: 10px 0 5px;
}

.sidebar select,
.sidebar input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
